@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  background-color: 	rgb(255,253,208);
}

img {
  display: block;
  margin: auto;
  width: 32%;
  height: auto;
  vertical-align: top;
  border: 5px solid white;
}


.image {
  display: inline-block;
  width: 5%;
  height: auto;
  vertical-align: top;
  margin: 0;
  border: 0;
}

.title {
  font-size: 40px;
  border-bottom: 3px solid black;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgb(218,221,250);
}

.congrats {
  display: inline-block;
  margin-top: 30px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.congratss {
  display: inline-block;
  margin-top: 30px;
  color: rgb(255,15,15);
}

h2, h1, h3, p {
  font-family: 'Josefin Sans', sans-serif;
}

.intro {
  margin: auto;
  width: 70%;
  text-align: center;
  display: block;
  font-size: 24px;
}

.container {
  border: 5px solid rgb(208,210,255);
  border-radius: 15px;
  background-color:  rgb(234,255,208);
  display: inline-block;
  margin: 20px 35px;
  width: auto;
  max-width: 40%;
  padding: 2% 12%;
  color: black;
}

.wrapper {
  text-align: center;
  display: block;
  margin: auto;
}

.start {
  text-align: center;
  background-color: rgb(255,247,231);
  margin: 30px 0;
  width: 60%;
  padding: 1% 5%;
  border: 5px solid black;
  border-radius: 15px;
  display: inline-block;
}

.front_page_container {
  border: 5px solid rgb(208,210,255);
  border-radius: 15px;
  background-color:  rgb(234,255,208);
  display: inline-block;
  margin: 0 35px;
  width: 35%;
  color: black;
  vertical-align: top;
}

.front_page_container:hover {
  transform: scale(1.25);
  border-color: rgb(255,208,215);
  background-color: rgb(193,255,182);
}

input {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 15px;
  background: white;
  border: 3px solid black;
  border-radius: 15px;
  height: 5%;
  width: 40%;
}

.finish_button {
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgb(255,247,231);
  display: inline-block;
  margin: 20px 35px;
  width: auto;
  padding: 2% 15%;
  color: black;
}

.last_finish_button {
  border: 5px solid black;
  border-radius: 15px;
  background-image: url('what.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 20px 35px;
  width: auto;
  padding: 2% 15%;
  color: black;
}

.hide {
  display: none;
}

.wrong {
  background-color: rgb(255,129,129);
}

.correct {
  background-color: rgb(193,255,182);
}

.fine_intro {
  margin: auto;
  width: 70%;
  text-align: center;
  display: block;
  font-size: 20px;
}

.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}
